<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SportNet{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="/SportNet/public/assets/css/framework.css">
        <link rel="stylesheet" href="/SportNet/public/assets/css/style.css">
        <link rel="icon" href="/SportNet/public/assets/res/logo.png">
    {% endblock %}

</head>

<body>


{# navigation bar #}
{% block navbar %}
    <header>
        <div class="title"><img src="/SportNet/public/assets/res/logo.png" width="40%"></div>
        <div class="subtitle">
            <div><a {% block activehome %}{% endblock %} href="home">Home</a></div>
            <div><a {% block activeevents %}{% endblock %} href="eventlist">Events</a></div>
            <div>
                <form action="search" method="post">
                    <input type="text" placeholder="Search an event" autocomplete="off">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>


            {% if user != false %}
                <div><a {% block activeprofile %}{% endblock %}href="profile">{{ user.username }}</a></div>
                <div><a href="logout">Log out</a></div>
            {% else %}
                <div><a {% block activelogin %}{% endblock %}href="login">Login</a></div>
                <div><a {% block activesignup %}{% endblock %}href="signup">Sign up</a></div>
            {% endif %}

        </div>
    </header>

    <div class="space"></div>
{% endblock %}


{% block content %}
    {# content #}
{% endblock %}

</body>

</html>