{% extends "base.html.twig" %}

{% block content %}

    {# createEvent #}

    {% if error != false %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
    {% endif %}

    <div class="aligncenter">
      <form action="createEvent" method="post">
        Name : <input name="name" type="text" autocomplete="off" placeholder="Give a name to your event" autofocus required /> <br/>
        Location : <input name="location" type="text" placeholder="Location of your event" required /> <br/>
        Discipline : <input name="discipline" type="text" placeholder="Discipline of your event, examples : course, walk" required /> <br/>
        Date : <input name="date" type="text" required/> <br/>
        State : <input name="state" type="text" required /> <br/>
        Description : <br/><textarea name="description" placeholder="Describe your event"/> <br/>
        <button class="btn" type="submit">Create the event</button>
      </form>

    </div>

{% blockend %}
