{% extends 'base.html.twig' %}

{% block activehome %}class="activeheader"{% endblock %}

{% block content %}

    {% if error != false %}
    <div class="alert danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    {% if success != false %}
    <div class="alert success" role="alert">
        {{ success }}
    </div>
    {% endif %}
    <div class="aligncentre">

        <img class="text-center" src="/SportNet/public/assets/res/home.png"><br>

        <h5>You wish to organize your own sport event and to manage it easily ?</h5>
        <h5>You can now organize it simply with SportNet™.</h5><br><br>

        <a class="btn" href="createevent">Organize my Event</a><br><br><br>

        <h5>You only wish to participate to a sport event near you ?</h5>
        <h5>You can now simply participate with SportNet™.</h5><br><br>

        <a class="btn" href="events">Participate to a sport Event</a>

    </div>

{% endblock %}
