{% extends 'base.html.twig' %}

{% block content %}

    <div class="panel panel-primary panel-register text-center">
        <div class="panel-heading aligncentre"><h1 class="panel-title">Submit for trial</h1></div><br/>
        <div class="panel-body">

        {% if success != false %}
        <div class="alert success" role="alert">
            {{ success }}
        </div>
        {% endif %}

        <div class="aligncentre">
            <h2>If you want to participate to the trial, you have to pay before</h2>

            <form action="payment">
              <input type="number" value="{{ event }}" name="idEvent" style="display:none">
              <button class="btn btn-primary" type="submit">Pay for registration</button>
            </form>
        </div>

        </div>
    </div>

{% endblock %}
